/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

$orange: hsl(30,100,45);
$light-orange: hsl(30,90,60);
$dark-orange: hsl(30,90,30);
$grey: hsl(0,0,30);
$light-grey: hsl(0,0,45);
$dark-grey: hsl(0,0,15);

* {
  box-sizing: border-box;
  margin: 0;
}

* + * {
  margin-top: 1em;
}

html,
button,
input,
select,
textarea {
  color: $grey;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  min-height: 100%;
}

br { margin: 0; }

// p + p { margin-top: 1em; }

a {
  color: $orange;
  text-decoration: none;
  border-bottom: 1px solid $orange;
  &:visited { color: $orange; }
  &:focus, &:hover {
    color: $light-orange;
    border-bottom: 2px solid $light-orange;
  }
}

[href^="mailto:"]:before { @include icon("\e945"); }
[href*="github.com/"]:before { @include icon("\eab4"); }
[href*="linkedin.com/"]:before { @include icon("\eac8"); }
[href*="lab"]:before { @include icon("\e9aa"); }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}