@font-face {
  font-family: 'icons';
  src: url("../fonts/icomoon.eot?nne429");
  src: url("../fonts/icomoon.eot?#iefixnne429") format("embedded-opentype"), url("../fonts/icomoon.woff?nne429") format("woff"), url("../fonts/icomoon.ttf?nne429") format("truetype"), url("../fonts/icomoon.svg?nne429#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@mixin icon($glyph) {
  font-family: 'icons';
  content: $glyph;
  speak: none;
  font-size: .9em;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  padding-right: .3em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// [class^="icon-"], [class*=" icon-"] {
//   font-family: 'icomoon';
//   speak: none;
//   font-style: normal;
//   font-weight: normal;
//   font-variant: normal;
//   text-transform: none;
//   line-height: 1;
//   Better Font Rendering ===========
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// .icon-envelop:before {
//         content: "\e945";
// }

// .icon-lab:before {
//         content: "\e9aa";
// }

// .icon-github4:before {
//         content: "\eab4";
// }

// .icon-linkedin:before {
//         content: "\eac8";
// }