/* ==========================================================================
   Custom styles
   ========================================================================== */

@import "normalize",
        "helpers",
        "fonts",
        "icons",
        "base";

/* Layout
   -------------------------------------------------------------------------- */

html {
  background:
    linear-gradient(to top, rgba(0,0,0,.45), transparent 300px, transparent),
    url(img/concrete.jpg);
  border-top: 6px solid $orange;
  position: relative;
  &:after {
    content: "";
    background: url(img/sidewalk.png) bottom repeat-x;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
}

body {
  font-size: 1.8em;
  margin: 6px 0 210px;
  position: relative;
  z-index: 1;
}


/* Header
   -------------------------------------------------------------------------- */

body > header {
  font-size: .75em;
  color: hsl(0, 0, 90);
  text-shadow: 1px 1px 0 black;
  margin: 1.5em 1em;
  h1 {
    font-weight: normal;
    line-height: 1.2;
    span { font-size: 2em; }
    strong { color: $orange; }
  }
}

/* Main
   -------------------------------------------------------------------------- */

[role="main"] {
  margin: 2em auto 0;
  > article {
    background: hsl(30, 0, 90) url(img/paper.png);
    box-shadow: 0 0 2px hsla(0,0,0,.75);
    padding: .9em;
    header {
      text-align: center;
    }
    h2 {
      font: bold 1.8em/1 'bebas neue', helvetica, arial, sans-serif;
      text-transform: uppercase;
      display: inline-block;
      border-bottom: 3px solid $grey;
    }
  }

  > aside {
    font-size: 1.2em;
    text-shadow: 1px 1px 0px hsla(0,0,0,.45);
    margin-top: 3em;
    ul {
      display: table;
      list-style: none;
      padding: 0;
      margin: 0 auto;
    }
    li + li { margin-top: 1em; }
  }
}



/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


/* --------------------------------------------------------------------------
    40
   -------------------------------------------------------------------------- */

@media only screen and (min-width: 40em) {

/*  Layout
   ---------------------------------- */

html {
  &:after {
    background:
      url(img/letterbox.png) left 120% bottom 90px no-repeat,
      url(img/sidewalk.png) bottom repeat-x;
  }
}

body {
  margin-bottom: 240px;
}

/*  Header
   ---------------------------------- */

body > header {
  font-size: 1em;
  width: 80%;
  max-width: 1024px;
  margin: 3em auto;
  h1 span { font-size: 2em; }
}

/*  Main
   ---------------------------------- */

[role="main"] {
  width: 80%;
  max-width: 1024px;
  margin: 3em auto 0;
  > article {
    margin: 0 -1.5em;
    padding: 1.5em;
    border-radius: 2px;
  }
  > aside {
    ul {
      display: block;
      margin-right: 30%;
    }
    li {
      display: inline-block;
      width: 50%;
    }
    li + li { margin-top: 0; }
    li:nth-child(n+3) { margin-top: 1em; }
  }
}

}


/* --------------------------------------------------------------------------
    60
   -------------------------------------------------------------------------- */

@media only screen and (min-width: 60em) {


/*  Layout
   ---------------------------------- */

html:after {
  background-position:
    right 12% bottom 96px,
    bottom;
}

/*  Main
   ---------------------------------- */

[role="main"] {
  @include clearfix;
  > article {
    float: left;
    width: 65%;
    box-shadow: 1px 1px 3px hsla(0,0,0,.75);
  }
  > aside {
    float: right;
    width: 30%;
    margin: 0;
    ul { margin: 0; }
    li {
      margin-left: 0;
      display: block;
      width: auto;
    }
    li + li { margin-top: 1em; }
  }
}

}



/* --------------------------------------------------------------------------
    90
   -------------------------------------------------------------------------- */

@media only screen and (min-width: 90em) {

/*  Layout
   ---------------------------------- */

html:after {
  background:
    url(img/letterbox.png) right 210px bottom 96px no-repeat,
    url(img/graff.png) left -240px bottom 180px no-repeat,
    url(img/sidewalk.png) bottom repeat-x;
}

}


/* ==========================================================================
    PRINT
   ========================================================================== */

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}