/* ==========================================================================
   Custom styles
   ========================================================================== */

@import "normalize",
        "helpers",
        "fonts",
        "icons",
        "base";

/* Layout
   -------------------------------------------------------------------------- */

html {
  background: black url(img/concrete.png);
  border-top: 6px solid $light-orange;
  position: relative;
  &:after {
    content: "";
    background: url(img/sidewalk.png) repeat-x;
    height: 155px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

body {
  font-size: 1.8em;
  margin: 6px 0 180px;
}


/* Header
   -------------------------------------------------------------------------- */

body > header {
  font-size: .75em;
  color: hsl(0, 0, 90);
  text-shadow: 1px 1px 1px black;
  margin: 1.5em 1em;
  h1 {
    font-weight: normal;
    line-height: 1.2;
    span { font-size: 2em; }
    strong { color: $orange; }
  }
}

/* Main
   -------------------------------------------------------------------------- */

[role="main"] {
  margin: 2em auto 0;
  > article {
    background: hsl(30, 0, 90) url(img/paper.png);
    box-shadow: 0 0 6px black;
    padding: .9em;
    header {
      text-align: center;
    }
    h2 {
      font: bold 1.8em/1 'bebas neue', helvetica, arial, sans-serif;
      text-transform: uppercase;
      display: inline-block;
      border-bottom: 3px solid $grey;
    }
  }

  > aside {
    margin: 2em;
    ul {
      display: table;
      font-size: 1.2em;
      list-style: none;
      padding: 0;
      margin: 0 auto;
    }
    li + li { margin-top: 1em; }
  }
}



/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


/* --------------------------------------------------------------------------
    40
   -------------------------------------------------------------------------- */

@media only screen and (min-width: 40em) {

/*  Header
   ---------------------------------- */

body > header {
  font-size: 1em;
  width: 80%;
  max-width: 1024px;
  margin: 3em auto;
  h1 span { font-size: 2em; }
}

/*  Main
   ---------------------------------- */

[role="main"] {
  width: 80%;
  max-width: 1024px;
  margin: 3em auto;
  > article {
    margin: 0 -1.5em;
    padding: 1.5em;
    border-radius: 2px;
    box-shadow: 0 1px 2px black;
  }
  > aside {
    margin: 2em 0;
    li {
      display: inline-block;
      width: 40%;
      margin: 0 0 0 10%;
    }
    li + li { margin-top: 0; }
    li:nth-child(n+3) { margin-top: 1em; }
  }
}

}


/* --------------------------------------------------------------------------
    60
   -------------------------------------------------------------------------- */

@media only screen and (min-width: 60em) {

/*  Main
   ---------------------------------- */

[role="main"] {
  @include clearfix;
  > article {
    float: left;
    width: 65%;
  }
  > aside {
    float: right;
    width: 30%;
    margin: 0;
    li {
      display: block;
      width: auto;
    }
    li + li { margin-top: 1em; }
  }
}

}



/* ==========================================================================
    PRINT
   ========================================================================== */

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}