/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import "normalize", "helpers", "fonts", "icons", "base";

html {
  font-family: bitter, serif;
  background: black url(img/concrete.png);
  border-top: 6px solid $light-orange;
  position: relative;
  &:after {
    content: "";
    background: url(img/sidewalk.png) repeat-x;
    height: 155px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

  }
}

body {
  margin: 6px 0 180px;
  > header {
    color: hsl(0, 0, 90);
    text-shadow: 1px 1px 1px black;
    width: 80%;
    max-width: 1024px;
    margin: 3em auto;
    h1 {
      font-weight: normal;
      line-height: 1.2;
      span { font-size: 2em; }
      strong { color: $orange; }
    }
  }
}

[role="main"] {
  @extend .clearfix;
  width: 80%;
  max-width: 1024px;
  margin: 3em auto 0;
  > article {
    background: hsl(30, 0, 90) url(img/paper.png);
    box-shadow: 0 1px 2px black;
    border-radius: 2px;
    float: left;
    width: 65%;
    padding: 1.5em;
    margin-left: -1.5em;
    z-index: 1;
    header {
      text-align: center;
    }
    h2 {
      font: bold 2.1em/1 'bebas neue', helvetica, arial, sans-serif;
      text-transform: uppercase;
      display: inline-block;
      border-bottom: 3px solid $grey;
    }
  }

  > aside {
    float: right;
    width: 30%;
    margin: 0;
    ul {
      font-size: 1.2em;
      list-style: none;
      padding: 0;
      margin: 0;
      li + li {
        margin-top: 1em;
      }
    }
  }
}



/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}